body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* edit */
.background{
  height: 40vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.signup-btn{
  margin: 0 auto;
  padding: 10px;
  width: 250px;
  background-color: crimson;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  z-index: 2;
}

.login .signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login .signup input{
  margin: 50px;
}

.headerName{
  font-family: 'Cedarville Cursive', cursive;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-left: 10px;
  padding: 20px;
  color: crimson;
}

.imageContainer:hover .image{
  opacity: 0.3;
}

.imageContainer:hover .middle {
  opacity: 1;
}

.imageContainer:hover .background {
  opacity: 1;
}


.image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  z-index: -1;
}
